html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust:100%
}

body {
  cursor: default;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  background: #fff;
  padding: 0
}

html[lang="pt-BR"] .en {
  display: none
}

html[lang="en-US"] .pt {
  display: none
}

.display_none {
  display: none;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding:0 1rem
}

@media screen and (min-width: 768px) {
  .container {
      padding:0 2rem
  }
}

@media screen and (min-width: 992px) {
  .container {
      max-width: 990px;
      padding:0 2rem
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-size:1em
}

a {
  color: #566573;
  text-decoration:none
}

a:hover {
  text-decoration:underline
}

.text--italic {
  font-style:italic
}

.text--bold {
  font-weight:700
}

.text--left {
  text-align:left
}

.text--right {
  text-align:right
}

.text--center {
  text-align:center
}

.content {
  padding:0 1rem
}

@media screen and (min-width: 768px) {
  .content {
      padding:0 10%
  }
}

@media screen and (min-width: 992px) {
  .content {
      padding:0 15%
  }
}

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0;
  background:#fff
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding:0
}

@media screen and (min-width: 768px) {
  .header {
      top: 0;
      bottom: auto;
      padding: .5rem 0;
      background:none
  }

  .header .container {
      position:relative
  }

  .header__nav {
      float:right
  }
}

.section {
  padding:6rem 0
}

.section + .section {
  background:#f5f5f5
}

.section__header {
  margin-bottom: 1.5rem;
  text-align:center
}

.section__title {
  margin: 0;
  color: rgba(17, 17, 17, 0.9);
  font-size: 1.9em;
  font-weight:700
}

.section__caption {
  margin: .1rem 0 0;
  color: #808B96;
  font-size: .8em;
  font-weight:400
}

.section__text {
  line-height: 1.6;
  color: rgba(17, 17, 17, 0.7);
  font-size:1em;
  text-align: justify;
}

.section__footer {
  margin-top:1.5rem
}

@media screen and (min-width: 768px) {
  .section {
      padding:6rem 0
  }

  .section--full {
      box-sizing: border-box;
      min-height:100vh
  }

  .section--center {
      display: flex;
      flex-flow: column;
      justify-content:center
  }

  .section__header {
      margin-bottom:2rem
  }

  .section__title {
      font-size:2.6em
  }

  .section__caption {
      font-size:1.1em
  }

  .section__text {
      font-size:1.2em
  }
}

.about__figure {
  margin: -1rem 0 1.5rem 0;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  padding: 0;
  border-radius: 100%;
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px rgba(86, 101, 115, 0.2);
  overflow: hidden;
  animation:figure 1s linear infinite alternate
}

.about__image {
  display: block;
  width:100%
}

@media screen and (min-width: 992px) {
  .about__figure {
      margin-top: -4rem;
      width: 8rem;
      height:8rem
  }
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  padding: 0;
  border: 0;
  color: #1b79d0;
  font-family: 'Raleway', sans-serif;
  font-size: .92em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition:border .1s ease
}

.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: #566573;
  transition:width .2s ease
}

.link:hover, .link:focus {
  text-decoration:none
}

.link:hover:after, .link:focus:after {
  width:100%
}

.link + .link {
  margin-left:2rem
}

.link--text {
  color: #1b79d0;
  text-decoration: none !important;
}

@media screen and (min-width: 992px) {
  .link {
      padding: 0;
      font-size:1em
  }

  .link + .link {
      margin-left:2.5rem
  }

  .link:after {
      bottom:.4rem
  }
}

.logo {
  margin: 0;
  font-size: 1.4em;
  text-align:center
}

.logo__image {
  margin: 1rem;
  display: block;
  width: 1em;
  height:1em
}

@media screen and (min-width: 768px) {
  .logo {
      font-size:2em
  }

  .logo__link {
      text-decoration:none
  }

  .logo__image {
      margin: .5rem
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #16161B;
  }
  
  .section__text, .section__title {
    color: #FFF
  }
  
  .section__caption, .link, .link--text {
    color: #28f5b4;
  }
}

